
src/bin/Debug/Jaeger.SAT.CFDI.dll
src/bin/Debug/Jaeger.SAT.CFDI.pdb
src/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/obj/Debug/Jaeger.SAT.CFDI.csproj.AssemblyReference.cache
src/obj/Debug/Jaeger.SAT.CFDI.csproj.CoreCompileInputs.cache
src/obj/Debug/Jaeger.SAT.CFDI.csproj.FileListAbsolute.txt
src/obj/Debug/Jaeger.SAT.CFDI.dll
src/obj/Debug/Jaeger.SAT.CFDI.pdb
